// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Old School Terminal Colors
$black: black;
$green: #19FE54;

// Flat Terminal Colors
$black: #33485D;
// $green: #00B064;	


.homepage_background {
	background-color: #3498db;
	width: 100%;
	height: 865px;
	padding-top: 50px;
}

.homepage_title_div {
	text-align: center;
}

.homepage_title, .homepage_subtitle, #days {
	font-family: "silkscreen", serif;
	font-size: 50px;
	font-weight: 400;
	color: white;
	min-width: 1200px;
}

.homepage_subtitle {
	font-size: 40px;
	padding-bottom: 25px;
	padding-top: 10px;
	font-family: "hydrophilia-iced", serif;
	a {
		text-decoration: none;
		color: $green;
	}
}

#days {
	color: $green;
	font-size: 40px;
	font-family: "hydrophilia-iced", serif;
}

.terminal_top_border {
	width: 1200px;
	height: 30px;
	background-color: #DEDEDE;
	margin: 0 auto;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
}

.terminal_top_border_text {
	color: #A5A5A5;
	font-family: "prestige-elite-std", serif;
	font-size: 22px;
	font-weight: 700;
	position: relative;
	top: 3px;
}


.terminal_ajw {
	width: 1200px;
	height: 200px;
	background-color: $black;
	margin: 0 auto;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.terminal_font {
	font-family: "prestige-elite-std", serif;
	font-size: 22px;
	color: $green;
	margin: 0 auto;
	padding: 20px;
	font-weight: 700;
}


#jq_terminal {
	width: 1200px;
	height: 218px;
	background-color: $black;
	margin: 0 auto;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.terminal, .terminal-output, div.terminal-output, .cmd, .prompt, span.inverted, span, .cursor, .inverted, .terminal-output > div {
	font-family: "prestige-elite-std", serif;
	color: $green;
	font-size: 22px;
	font-weight: 700;	
	line-height: 110%;
}

.terminal {
	padding: 0;
	position: relative;
	top: -104px;
}

.terminal .terminal-output div div, .cmd {
  padding: 0 20px;
}

// .terminal .terminal-output div div {
// 	display: none;
// }

.terminal-output {
	line-height: 100%;
}

.check_out_div {
	margin: auto 0;
	width: 100%;
	min-width: 1200px;
	text-align: center;
	position: relative;
	top: -80px;
}

.check_out_title {
	font-size: 35px;
	padding-bottom: 20px;
	padding-top: 0px;
	font-family: "freight-sans-pro", sans-serif;
	font-style: italic;
	font-weight: 700;
	color: white;	
}

.connect_div {
	margin: 0 auto;
	text-align: center;
	height: 125px;
	width: 1200px;
}

.connect_links {
	float: left;
	width: 125px;
	height: 125px;
	margin: 0 10px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background-color: #5CACE2;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all color 0.4 ease-in-out;
	&:hover {
		background-color: orange;
	}
}

.connect_twitter {
	&:hover {
		background-color: #06ADE8;
	}	
}

.connect_blog {
	&:hover {
		background-color: #2980b9;
	}	
}

.connect_linked_in {
	&:hover {
		background-color: #1381BB;
	}	
}

.connect_github {
	&:hover {
		background-color: black;
	}	
}

.connect_instagram {
	&:hover {
		background-color: #4C2E27;
	}	
}

.connect_flock {
	background: url(connect_flock.png) no-repeat center center;
	background-color: #5CABDF;
	&:hover {
		background: url(connect_flock_dark.png) no-repeat center center;
		background-color: #639F64;
	}	
}

.connect_rtj {
	background: url(connect_rtj.png) no-repeat center center;
	background-color: #5CABDF;
	&:hover {
		background: url(connect_rtj_dark.png) no-repeat center center;
		background-color: white;
	}	
}

.connect_email {
	&:hover {
		background-color: #F1C40F;
	}	
}









