// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Old School Terminal Colors
$black: black;
$green: #19FE54;

// Flat Terminal Colors
$black: #33485D;
// $green: #00B064;	

body {
	background-color: #3498DB;
	height: auto;
}

a {
	color: #34495E;
}

.homepage_background {
	// background-color: #3498db;
	width: 100%;
	height: 865px;
	padding-top: 30px;
}

.homepage_title_div {
	text-align: center;
}

.homepage_title, .homepage_subtitle, #days {
	font-family: "silkscreen", serif;
	font-size: 40px;
	font-weight: 400;
	color: white;
	min-width: 1200px;
}

.homepage_subtitle, .new_homepage_subtitle {
	font-size: 32px;
	padding-bottom: 15px;
	padding-top: 10px;
	font-family: "hydrophilia-iced", serif;
	a {
		text-decoration: none;
		color: $green;
	}
}

.new_homepage_subtitle {
	font-size: 55px;
}

.new_homepage_subtitle_2 {
  font-size: 35px;
  padding-top: 0px;
}

.new_sub_sub_title {
	font-size: 32px;
	margin-top: 10px;
}

#days {
	color: $green;
	font-size: 40px;
	font-family: "hydrophilia-iced", serif;
}

#days2 {
  color: white;
  font-size: 28px;
  font-family: "hydrophilia-iced", serif;
}

.terminal_top_border {
	width: 1200px;
	height: 30px;
	background-color: #DEDEDE;
	margin: 0 auto;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
}

.terminal_top_border_text {
	color: #A5A5A5;
	font-family: "prestige-elite-std", serif;
	font-size: 22px;
	font-weight: 700;
	position: relative;
	top: 3px;
}


.terminal_ajw {
	width: 1200px;
	height: 200px;
	background-color: $black;
	margin: 0 auto;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.terminal_font {
	font-family: "prestige-elite-std", serif;
	font-size: 22px;
	color: $green;
	margin: 0 auto;
	padding: 20px;
	font-weight: 700;
}


#jq_terminal {
	width: 1200px;
	height: 218px;
	background-color: $black;
	margin: 0 auto;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.terminal, .terminal-output, div.terminal-output, .cmd, .prompt, span.inverted, span, .cursor, .inverted, .terminal-output > div {
	font-family: "prestige-elite-std", serif;
	color: $green;
	font-size: 22px;
	font-weight: 700;	
	line-height: 110%;
}

.terminal {
	padding: 0;
	position: relative;
	top: -104px;
}

.terminal .terminal-output div div, .cmd {
  padding: 0 20px;
}

// .terminal .terminal-output div div {
// 	display: none;
// }

.terminal-output {
	line-height: 100%;
}

.check_out_div {
	margin: auto 0;
	width: 100%;
	min-width: 1200px;
	text-align: center;
	position: relative;
	top: -80px;
}

.check_out_title {
	font-size: 35px;
	padding-bottom: 30px;
	padding-top: 20px;
	font-family: "freight-sans-pro", sans-serif;
	font-style: italic;
	font-weight: 700;
	color: white;	
}

.connect_div {
	margin: 0 auto;
	text-align: center;
	height: 125px;
	width: 1035px;
}

.new_connect_div {
	width: 730px;	
}


.connect_div_2 {
	margin: 0 auto;
	text-align: center;
	height: 125px;
	width: 875px;
}

.connect_links {
	float: left;
	margin-top: 25px;
	width: 125px;
	height: 125px;
	margin: 0 10px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background-color: #5CACE2;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all color 0.4 ease-in-out;
	&:hover {
		background-color: orange;
	}
}

.connect_twitter {
	&:hover {
		background-color: #06ADE8;
	}	
}

.connect_blog {
	&:hover {
		background-color: #2980b9;
	}	
}

.connect_hireme {
	&:hover {
		background-color: #222426;
	}	
}

.connect_linked_in {
	&:hover {
		background-color: #1381BB;
	}	
}

.connect_github {
	&:hover {
		background-color: black;
	}	
}

.connect_instagram {
	&:hover {
		background-color: #4C2E27;
	}	
}

.connect_espace {
	&:hover {
		background-color: #1A9711;
	}	
}



.connect_flock {
	background: url(connect_flock_2.png) no-repeat center center;
	background-color: #5CABDF;
	&:hover {
		background: url(connect_flock_2_dark.png) no-repeat center center;
		background-color: #4CD964;
	}	
}

.connect_found {
	background: url(connect_found_light.png) no-repeat center center;
	background-size:125px 125px;
	background-color: #5CABDF;
	&:hover {
		background: url(connect_found_dark.png) no-repeat center center;
		background-size:125px 125px;
		background-color: #FF755A;
	}	
}

.connect_rtj {
	background: url(connect_rtj.png) no-repeat center center;
	background-color: #5CABDF;
	&:hover {
		background: url(connect_rtj_dark.png) no-repeat center center;
		background-color: white;
	}	
}

.connect_email {
	&:hover {
		background-color: #F1C40F;
	}	
}

.shout_out {
	font-size: 20px;
	width: 600px;
	padding-bottom: 20px;
	border-top: 1px solid white;
	margin: 0 auto;
	margin-top: 35px;
	padding-top: 10px;
	font-family: "freight-sans-pro", sans-serif;
	font-weight: 400;
	color: white;		
}

.new_shout_out {
	margin-top: 55px;
}

.say_hi {
	color: white;
	font-size: 32px;
	padding-bottom: 15px;
	padding-top: 15px;
	position: relative;
	top: -10px;
	font-family: "hydrophilia-iced", serif;
	a {
		font-family: "hydrophilia-iced", serif;
		text-decoration: none;
		color: $green;
	}
}

.terminal a {
	color: #E69045;
	&:hover {
		color: #E94A35;
	}
}


.ui-tooltip {
  padding: 10px 20px;
  color: #666;
  border-radius: 20px;
	font-family: "freight-sans-pro", sans-serif;
	font-style: italic;
	font-weight: 700;
  // text-transform: uppercase;
  border: 0 0 0 white;
  text-align: center;
}

  .ui-tooltip, .arrow:after {
    background: white;
    // border: 1px solid #19FE54;
    border: 3px solid #CCC;

  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

  .check_out_title_2 {
  	margin-top: 80px;
  }

  .new_say_hi {
  	margin-top: 60px;
  }

span#l.label {
	padding-right: 5px;
}

.btn-o {
	padding-right: 5px;
}

.button_holder {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 45px;
}

#hireme {
  background: white;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  width: 100px;
  text-align: center;
  padding: 15px 50px;
  border: 2px solid $green;
  text-decoration: none;
  font-family: "freight-sans-pro", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all color 0.4 ease-in-out;
  // color: #0097E0;
  &:hover {
    color: white;
    background: $green;
    border: 2px solid white;
  }
}







